# The ITN API service (part of systemd)
# file: /etc/systemd/system/itn-api.service

[Unit]
Description      = ITN-api service
Wants            = network-online.target
After            = network-online.target

[Service]
User             = orcfax
Type             = simple
WorkingDirectory = /home/orcfax/itn-api/
ExecStart        = /bin/bash -c '/home/orcfax/itn-api/service/start_itn_api.sh'
KillSignal       = SIGINT
TimeoutStopSec   = 300
LimitNOFILE      = 32768
Restart          = always
RestartSec       = 5

[Install]
WantedBy         = multi-user.target
