<html>
   <head>
      <meta charset="UTF-8">
      <title>ITN Diagnostics | Orcfax</title>
      <link rel="icon" href="diagnostics/img/favicon.ico">
      <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
      <meta name="htmx-config" content='{"selfRequestsOnly": false}'>
      <script>
         document.documentElement.setAttribute("data-theme", "dark");
      </script>
      <link rel="stylesheet" href="diagnostics/assets/css/styles.css">
      <!-- htmx path-params -->
      <script>
         // Inspired by: https://htmx.org/extensions/path-params/
         htmx.defineExtension('pronom-api-params', {
             onEvent: function(name, evt) {
                 if (name === "htmx:configRequest") {
                     evt.detail.path = evt.detail.path.replace(/{([^}]+)}/g, function (_, param) {
                         var val = evt.detail.parameters[param];
                         delete evt.detail.parameters[param];
                         return val === undefined ? "{" + param + "}" : val;
                 })
                 }
             }
         });

      </script>
   </head>
   <body
      hx-ext="pronom-api-params"
      hx-vals='{"baseURLLocal": "http://0.0.0.0:24001", "baseURL": "https://itn.0.orcfax.io"}'>
      <section id="license-holders">
         <h1>ITN diagnostics</h1>
         <div>
         <h2>License holders</h2>
         <div>
         <div>
         <div
            hx-get="{baseURL}/api/participants"
            hx-trigger="load"
            hx-swap="innerHTML"
            />
         </div>
      </section>
      <hr>
      <section id="collector-counts">
         <h2>Active collector counts</h2>
         <div
            hx-get="{baseURL}/api/online_collectors"
            hx-trigger="load"
            hx-swap="innerHTML"
            />
         </div>
      </section>
      <hr>
      <section id="locations">
         <h2>Collector locations</h2>
         <div
            hx-get="{baseURL}/locations"
            hx-trigger="load"
            hx-swap="innerHTML"
            />
         </div>
      </section>
      <hr>
      <div class="footer__bottom text--center">
         <div class="footer__copyright">ITN | Diagnostics</div>
      </div>
   </body>
</html>
